/* Add your existing CSS styles here */

.cursor-pointer {
    cursor: pointer;
  }
  
  .hover:text-blue-500:hover {
    color: #3b82f6;
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
    font-weight: bold;
}

.tooltip-text {
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
